<%- include('partials/header'); -%>
<h1>About</h1>
<p><%= aboutContent %></p>
<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>
<%- include('partials/footer'); -%>
