<%- include('partials/header'); -%>

<h2><%= contentTitle %></h2>
<p><%= contentPara %></p>

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<%- include('partials/footer'); -%>